    .roblox-deeplink-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        .roblox-deeplink-header {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .roblox-deeplink-help-section {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            align-items: center;
        }
    }